div{

  padding: 2px;
  
  
}

input[type="button"]{
  
  padding: 15px;
  background-color: rgba(189, 187, 187, 0.616);
  width: 10%;
  border:0.05px gray;
  font-size: large;
  
}
input[type="button"]:hover{
  
  background-color: rgba(48, 241, 48, 0.966);
  padding: 18px;
  
}
input[type="text"]{
  
  width: 28%;
  padding: 14.8px;
  margin: 10px 0px 0px 0px;
}
input[type="text"]:hover{
    
  border-radius: 15px;


}